/* Responsive Desktop */
/* @media (min-width: 1024px) {
} */

/* Responsive Tablet */
@media (min-width: 46.1875em) and (max-width: 63.9375em) {
  .contact-info {
    line-height: 2;
  }
}

/* Responsive Tablet and Mobile */
@media (max-width: 63.9375em) {
  .btn {
    padding: 0.9375em 1em;
  }
  .contact-form .form-control {
    padding: 0.9375em;
    font-size: 1em;
  }
  #footer .socials-list {
    font-size: 2.375em;
  }
  #footer .socials-list a {
    margin: 0 0.5em;
  }
  #footer .copywrite a {
    padding: 0.75em 0;
    display: inline-block;
  }
  .contact-info {
    line-height: 2;
  }
  .contact-submit-btn {
    font-size: 1em;
  }
}

/* Responsive Mobile */
@media (max-width: 46.1875em) {
  .s-full-width,
  .s-col-ful {
    width: 100% !important;
  }
  .s-mt-8 {
    margin-top: 0.5em !important;
  }
  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #nav {
    display: block;
  }
  #nav li a {
    padding: 0.0625em 1.5em;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 0.3125em 2.5625em;
  }
  #content .member-item {
    width: 100%;
  }
  #content .member-img {
    width: 60%;
  }
  .col.col-half.contact-form.s-col-ful {
    margin-top: 2em;
  }
}
